@import '@angular/material/prebuilt-themes/azure-blue.css';
@import 'bpmn-js/dist/assets/diagram-js.css';
@import 'bpmn-js/dist/assets/bpmn-js.css';
@import 'bpmn-js/dist/assets/bpmn-font/css/bpmn.css';

*, *::before, *::after { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #f1f5f9;
}

.mat-mdc-card {
  border-radius: 12px !important;
}
